<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Profile</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="newpost">New Post</a></li><br>
      <li><a routerLink="post">POST, no really.. post.</a></li><br>
      <li><a routerLink="feed">Feed me!!!!</a></li><br>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <h2>Welcome to Social Media Game</h2>
  <router-outlet></router-outlet>
</div>
